.wiew-container {
  margin-top: 20px;
}

.container {
  display: flex;
  margin-top: 110px;
}

.sidebar {
  /* border: 1px solid black; */
  position: fixed;
  top: 15%;
  width: 25%;
}

.phones-view {
  border-left-style: groove;
  width: 75%;
  margin-left: 25%;
}
